header {
  background-image: url('rfu_logo_medium.png');
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 !important;
  padding: 0 !important;
}
nav {
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
}
nav a {
  text-decoration: none !important;
  font-weight: bold !important;
  font-size: 1.25em !important;
  margin: 0 0.5em !important;
}
nav input {
  padding: 0.25em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  width: 2.5em;
}

@media print {
  .section { display: block !important; }
  nav { display: none; }
  footer{ display: none; }
  body { font-size: 1em !important; }
}